/* Colors */
:host {
  width: 100%;
  display: block;
}

ion-card {
  --border-radius: var(--rounded);
  --background: var(--retro-cream);
  --color: var(--offblack);
  --border-color: var(--borders);
  --border-width: 1px;
  border-style: solid;
  border-color: var(--offblack);
  border-width: 0.1px;
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: none;
}