/* Colors */
$retro-cream: #FAF7F2;
$seagull-postman: #577590;
$seagull-midnight: #1A535C;
$mint-celadon: #B1CEB1;
$rose-tea: #E6BCB5;
$vanilla: #E4E3AC;
$old-rose: #D08476;
$cambridge: #9BC09B;
$offblack: #211F1C;
$borders: #211F1C;
$text: #211F1C;

$rounded: 11.46px;

ion-card-title {
    color: var(--ion-color-step-600, var(--ion-text-color-step-400, #666666));
    font-size: clamp(12px, 6vh, 24px);
    font-weight: 300;
    margin: 0 0 4px 0;
    padding: 0;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    width: 100%;
}

ion-card-header {
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid lighten($offblack, 40%);
}

.status-bar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 32px;
    position: relative;
}

.status-bar-buttons {
    display: flex;
    align-items: center;
    min-width: 60px; // enough for 3 buttons
}

.status-bar-title {
    flex: 1 1 auto;
    text-align: center;
    font-size: clamp(12px, 6vh, 24px);
    font-weight: 300;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: var(--ion-color-step-600, var(--ion-text-color-step-400, #666666));
    pointer-events: none; // so dragging doesn't select title

}

.status-bar-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 32px;
}