
.social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 1.5rem;
    padding-left: 1rem;
  }

  .social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }

  .social-links a:hover svg path {
    fill: var(--gray-900);
  }

  .social-links img {
    transition: filter 0.3s ease;
    filter: grayscale(100%);
  }

  .social-links a:hover img {
    filter: grayscale(50%);
  }