<ion-header>
  <ion-toolbar>
    <ion-title slot="primary">
      <app-header [title]="title" (clearSearch)="onClearSearch()"></app-header>
    </ion-title>
    <app-socials slot="end"></app-socials>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-justify-content-center">
    <ion-row class="ion-justify-content-center" size="12">
      @for (window of windows; track window) {
      <ion-col>
        <app-window [window]="window" (outletReady)="onOutletReady($event)"
          (requestNavigation)="requestNavigation($event.outlet, $event.path)">
        </app-window>
      </ion-col>
      }

    </ion-row>
  </ion-grid>
  <router-outlet></router-outlet>
</ion-content>