<div class="app-container">
  <header class="header">
    <div class="toolbar">
      <h1 class="title">
        <app-header [title]="title" (clearSearch)="onClearSearch()"></app-header>
      </h1>
      <app-socials></app-socials>
    </div>
  </header>

  <main class="content" ngbScrollSpy [scrollBehavior]="'smooth'" [threshold]="0.5" [rootMargin]="'0px 0px -50% 0px'"
    (activeChange)="onActiveFragmentChange($event)">
    <div class="container-fluid px-3">
      <div class="row g-3 justify-content-center">
        @for (window of windows; track window.id) {
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" [ngbScrollSpyFragment]="window.id">
          <app-window [window]="window"></app-window>
        </div>
        }
      </div>
    </div>
  </main>
</div>