<!-- <main class="main">
<div class="content"> -->
<ion-header>
  <ion-toolbar>
    <ion-title> <app-header></app-header>
    </ion-title>
    <app-pillgroup></app-pillgroup>
    <app-socials></app-socials>
  </ion-toolbar>

</ion-header>
<!-- </div> -->

<!-- <section class="results"> -->
<ion-content>
  <div class="divider" role="separator" aria-label="Divider"></div>
  <nav class="right-side">

  </nav>
  <router-outlet></router-outlet>
  <div class="centered-content"><div class="window-grid">
    @for (window of windows; track window) {
    <app-window [window]="window" (outletReady)="onOutletReady($event)"
      (requestNavigation)="requestNavigation($event.outlet, $event.path)">
    </app-window>
    }
  </div></div>
</ion-content>
<!-- </section> -->
<!-- </main> -->