header {
    width: 100% !important;
    position: sticky;
    top: 0;
}

nav .container-fluid {
    padding-left: 25px;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--offwhite);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
    border: 1px solid var(--offblack);
    background-color: var(--retro-cream);
    color: var(--offblack) !important;
    padding: 0.25rem 0.5rem;
    border-radius: var(--rounded);

    &:focus {
        box-shadow: 0 0 0 0.2rem var(--cambridge);
        outline: none;
    }

    &:hover {
        background-color: var(--vanilla);
        border-color: var(--cambridge-dark);
    }
}

nav-link {
    color: white !important;
    font-size: 1.2rem;
    font-weight: normal;
}

.navbar-collapse .navbar-nav {
    margin-left: auto;
    margin-right: 0;
}

.nav-item {
    a {
        color: white;
        cursor: pointer;

        &:hover {
            color: var(--cambridge);
            transform: rotate3d(0, 0, 1, -15deg);
        }
    }

    &:nth-child(odd) a:hover {
        transform: rotate3d(0, 0, 1, 15deg);
    }
}