<header>
  <nav class="navbar navbar-expand-lg navbar-dark mb-3">
    <app-notice></app-notice>
    <div class="container-fluid">
      <div class="row">
        <div class="col">

          <app-socials></app-socials>
        </div>

      </div>
      <a class="navbar-brand d-flex align-items-center" [routerLink]="['/']">
        <app-logo (click)="resetApp()" alt="WastefullDB Home"></app-logo>
      </a>
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <div class="navbar-nav ms-auto d-flex flex-row align-items-center">
          <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item me-2">
              <a class="nav-link" href="https://wastefull.org" (click)="isMenuCollapsed = true">
                wastefull.org
              </a>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link" href="https://wastefull.org/about" (click)="isMenuCollapsed = true">
                Our Mission
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.zeffy.com/donation-form/donate-to-make-a-difference-11641"
                (click)="isMenuCollapsed = true">
                Donate
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </nav>
</header>