:host {
    --accent-color: #F003;
    --primary-color: #923434;
}

article {
    margin: 10px;
    column-gap: 1px;
    overflow: visible;
    font-size: medium;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: .5rem;
    max-width: 600px;

    aside {
        display: grid;
        gap: 2vh;
    }

    content {
        display: grid;
        grid-template-columns: 1fr;
    }

}

.object0 {
    filter: blur(0.1rem);
    transition: filter 0.3s ease;
}