:host {
    --accent-color: #F003;
    --primary-color: #923434;
    --pastel-yellow: #E4E3AC;
    --dusty-rose: #E6BEB5;
    --pastel-blue: #B8C8CB;
    --offblack: #211F1C;
}

article {
    margin: 10px;
    column-gap: 1px;
    overflow: visible;
    font-size: medium;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: .5rem;
    max-width: 600px;

    aside {
        display: grid;
        gap: 2vh;
    }

    content {
        display: grid;
        grid-template-columns: 1fr;
    }

}

.object0 {
    filter: blur(0.1rem);
    transition: filter 0.3s ease;
}

nav ion-button {
    color: var(--offblack);
    border: 1px solid #000;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    padding: 1px;
    box-shadow: 3px 2px 4px #000;
    background-color: var(--primary-color);

    &.compost {
        background-color: var(--pastel-yellow);
    }

    &.recycle {
        background-color: var(--dusty-rose);
    }

    &.upcycle {
        background-color: var(--pastel-blue);
    }

    &:hover {
        color: white;
        filter: hue-rotate(180deg);
        animation: infinite alternate 0.5s;
        box-shadow: none;
    }
}