article {
    margin: 10px;
    column-gap: 1px;
    overflow: visible;
    font-size: medium;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: .5rem;
    max-width: 600px;

    aside {
        display: grid;
        gap: 2vh;
    }

    content {
        display: grid;
        grid-template-columns: 1fr;
    }

}

.object0 {
    filter: blur(0.1rem);
    transition: filter 0.3s ease;
}

ion-button {
    --background: var(--pastel-yellow);
    --color: var(--offblack);
    --border-radius: 6px;
    --padding: 0.5rem 1rem;
    --box-shadow: 3px 2px 4px #000;
    --transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    --border: 1px solid #000;
    --text-transform: uppercase;
    --font-weight: 600;
    --font-size: 1rem;
    --text-align: center;
    --width: 100% !important;
    cursor: pointer;

    &.compost {
        --background: var(--pastel-yellow) !important;
        --color: var(--offblack) !important;
    }

    &.recycle {
        --background: var(--dusty-rose) !important;
        --color: var(--offblack) !important;
    }

    &.upcycle {
        --background: var(--pastel-blue) !important;
        --color: var(--offblack) !important;
    }

    &:hover {
        --color: white;
        filter: hue-rotate(180deg);
        animation: infinite alternate 0.5s;
        box-shadow: none;
    }

    &.disabled {
        opacity: 0.75;
        pointer-events: none;
        cursor: not-allowed;
    }
}