@if (object) {
<article [class]="'object' + object.id">
    <content>
        <article class="details">{{ object.meta.description }}</article>
    </content>
    <aside [class]="'object' + object.id">
        <app-image-display [object]="object" />
        <nav class="methods">
            @if (object.articles.compost.length) {
            <ion-button class="compost" (click)="openProductPicker('compost')">Compost</ion-button>
            }
            @else {
            <ion-button class="compost" disabled>Compost</ion-button>}
            @if (object.articles.recycle.length) {
            <ion-button class="recycle" (click)="openProductPicker('recycle')">Recycle</ion-button>
            }
            @else {
            <ion-button class="recycle" disabled>Recycle</ion-button>}

            @if (object.articles.upcycle.length) {
            <ion-button class="upcycle" (click)="openProductPicker('upcycle')">Upcycle</ion-button>
            }
            @else {
            <ion-button class="upcycle" disabled>Upcycle</ion-button>}
        </nav>
        <!-- @if (!object.articles.ids || object.articles.ids.length <= 0) { <main>
            <p class="article-text" [innerHTML]="defaultArticle"></p>
            </main>
            } -->

    </aside>
</article>
}